<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<!-- Add a button to link to the route handling the retrieval of all employees -->
    <a href="/employees" class="button">Get All Employees</a>
  </body>
</html>