<!DOCTYPE html>
<html>
<head>
    <title>Create Product</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Create Product</h1>
    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <ul class="error">
            <% errors.forEach(function(error) { %>
                <li><%= error %></li>
            <% }); %>
        </ul>
    <% } %>
    <form action="/products/save" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price">
        <input type="submit" value="Submit">
    </form>
</body>
</html>